<% content_for :title, "Home" %>
<% if @featured.present? && @featured.size > 0 %>
<div class="slider">
    <ul class="slides">
    	<% @featured.each do |event| %>
    	  <li>
	        <img src="<%= event[:photo] %>"> 
	        <div style="position: absolute; top: 0; width: 100%; background-color: rgba(0,0,0,0.4); padding: 15px 30px;">
	          <h3><a target="_blank" class="grey-text text-lighten-4" href="<%= event[:link] %>"><%= event[:title] %></a></h3>
	          <h5><span class='grey-text text-lighten-3'><%= event[:author] %></span>&nbsp&nbsp<span class='grey-text text-lighten-1'><%= event[:date] %></span></h5>
	        </div>
	      </li>
    	<% end %>
    </ul>
  </div>
 <% end %>
<div class="section z-depth-1 grey lighten-5" style="margin-top: 20px;">
<div class="container">
	<h3 style="margin-bottom: 50px; text-align: right" class="grey-text text-darken-3">Upcoming events</h3>
	<% @categories.each_with_index do |category, index| %>
		<% if category[:events].size > 0 %>
			<div class="card">
				<h4 style="padding: 20px; margin: 0; background-color: <%= category[:color] %>" class="grey-text text-lighten-4"><%= category[:name] %></h4>
				<div class="row" style="margin-bottom: 0;">
					<div class="col s12 l6" style="padding-left: 0px; padding-right: 0px;">
						<ul id="<%= category[:name] %>-event-list" style="margin: 0; border-right: 1px solid #ccc;">
							<% category[:events].each_with_index do |event, event_index| %>
								<li class="<% if event_index == 0 %> active <% end %>row <%= category[:name] %>-event" style="padding-top: 20px;" data-category-index="<%= index %>">
									<div class="col l4">
										<div style="width: 100px; height: 100px; position: relative; left: 50%; transform: translateX(-50%); background-image: url('<%= event[:photo] %>'); background-size: cover;"></div>
									</div>
									<div class="col l8">
										<span style="font-size: 1.2rem;" class="<%= category[:name] %>-event-item <% if event_index == 0 %> blue-text text-lighten-1 <% end %>"><%= event[:title] %></span>
										<p class='grey-text text-darken-1' style='margin:0;'>by <%= event[:author] %></p>
										<p class="grey-text text-lighten-1" style='margin:0;'><%= event[:date] %></p>
									</div>
								</li>
								<li class="divider" style="<% if event_index != category[:events].size - 1 %> margin: 20px 0px; <% end %>"></li>
							<% end %>
							<li class="right-align">
								<a href="/event/category?c=<%= category[:name] %>" class="waves-effect btn-flat teal-text" style="width: 100%; height: 100%; margin: 0;">
									See more events
									<i class="mdi-navigation-arrow-forward right"></i>
								</a>
							</li>
						</ul>
					</div>
					<div class="col s12 l6" style="overflow-x: auto; max-height: 500px;">
						<div id="<%= category[:name] %>-active-event" class="section" style="padding-left: 20px; padding-right: 20px;">
							<h3 id="<%= category[:name] %>-feature-title" style="margin: 0;"><%= category[:events].first[:title] %></h3>
							<p style="margin: 0; font-size: 1.2rem;" class="grey-text text-darken-2">by <span id="<%= category[:name] %>-feature-author"><%= category[:events].first[:author] %></span></p>
							<p id="<%= category[:name] %>-feature-description">
								<%= category[:events].first[:description] %>
							</p>
							<a id="<%= category[:name] %>-feature-link" href="<%= category[:events].first[:link] %>" class="blue-text right" target="_blank">Know more</a>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
</div>
<% if @user.present? %>
	<%= link_to event_edit_path, class: "btn-floating btn-large waves-effect blue", style: "position:fixed; right: 70px; bottom: 30px; z-index:999" do %>
		<i class="mdi-content-create"></i>
	<% end %>
<% end %>
<script>
	var categories = <%= @categories_json %>
	$(document).ready(function(){
		$(".slider").slider();
					console.log(categories.length);
		for(var i = 0; i < categories.length; i++){
			if(categories[i].events.length > 0){
				$("." + categories[i].name + "-event").hover(function(){
					var categoryIndex = $(this).attr("data-category-index");
					var category = categories[categoryIndex].name;
					var index = $("#" + category + "-event-list li." + category + "-event").index($(this));
					if(!$(this).hasClass("active")){
						$("#" + category+ "-event-list li." + category + "-event").removeClass("active");
						$("#"+ category + "-event-list li ." + category + "-event-item").removeClass("blue-text text-lighten-1");
						$("#" + category + "-event-list li ." + category + "-event-item:eq(" + index + ")").addClass("blue-text text-lighten-1");
						currentEvent = categories[categoryIndex].events[index];
						$("#" + category + "-active-event").fadeOut(200, function(){
							$("#" + categories[categoryIndex].name + "-feature-title").text(currentEvent.title);
							$("#" + categories[categoryIndex].name + "-feature-author").text(currentEvent.author);
							$("#" + categories[categoryIndex].name + "-feature-description").text(currentEvent.description);
							$("#" + categories[categoryIndex].name + "-feature-link").attr("href", currentEvent.link);
							$("#" + category + "-active-event").fadeIn(200);
						});
						$(this).addClass("active");
					}
				});
			}
		}
	});
</script>